body {
    font-family: "Times New Roman", serif;
}

p {
    text-align: center;
    font-size: 18px;
}

span {
    display: inline-block;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}

h2 {
    text-align: left;
    font-size: 22px;
    margin: 0px 0px 0px 25px;
}

h3 {
    display: block;
    text-align: center;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h4 {
    display: block;
    text-align: center;
    font-size: 1.2em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 600;
    text-decoration: underline;
}

ol, ul, li, .list_block ol, .list_block ul, .list_block li {
    list-style: none;
}

li {
    padding: 0.5%;
    margin: 0;
    text-align: center;
    font-size: 25px;
}

.list_block {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    text-align: center;
}

.list_block form {
    margin-block-end: 2px;
}

.list_block li {
    padding: 0.1%;
    margin: 0;
    text-align: center;
}

.list_block li input[type=submit] {
    list-style: none;
    background: none !important;
    border: none;
    padding: 0 !important;
    display: inline;
    outline: 0;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
}

.list_block li input[type=submit]:hover {
    color: #f8cf03;
}

.list_part ol, .list_part ul, .list_part li {
    list-style-type: decimal;
    list-style-position: inside;
}

.list_part li::marker {
    display: inline-block;
}

.inner-btn-link {
    display: inline-block;
}

.inner-btn-link form {
    margin: auto;
    display: block;
    margin-block-end: 0.5em;
}

.inner-btn-link input[type=submit] {
    background: none !important;
    border: none;
    padding: 0 !important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    font-weight: bold;
    font-size: 20px;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

.inner-btn-link input[type=submit]:hover {
    color: #f8cf03;
}

span.review {
    display: block;
    width: 70%;
    height: auto;
    padding: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
}

span.author {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 5px;
    margin: 0px 0px 0px 25px;
    font-size: 16px;
    text-decoration: underline;
    color: #0066ff;
}

span.pblctn-date {
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0;
    font-size: 16px;
}